@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    text-decoration: none;
    /* background-color: teal; */
}
body{
    background-color: rgb(190, 190, 190);
}
header h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    text-align: center;
    /* text-decoration: underline; */
}
header form{
    margin-top: 40px;
}
main{
    margin-top: 25px;
    margin-bottom: 35px ;
}
main .userHint{
    font-family: 'Noticia Text', serif;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}
footer{
    margin-top: 100px ;
}
.example{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: rgb(71, 71, 160);
    
}
#array-size{
    width:60px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    vertical-align: middle;
    background-color: transparent;
}
.box-generator, form{
    text-align: center;
}
.input_label{
    font-family: 'Noticia Text', serif;
    vertical-align: middle;
}
ul li{
    text-align: center;
}
.submit{
    margin-top: 20px;
}
.input-box{
    vertical-align: middle;
    background-color: teal;
    font-size: 20px;
    color: #fff;
    margin: 0.3%;
    padding: 10px;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 8px;
    text-align: center,
}
.btn{
    border: 2px solid black;
    outline: none;
    font-size: 15px;
    background-color: teal;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px ;
}
.input-arr, .output-arr, .bold-li{

    font-family: 'Alfa Slab One', cursive;
    
}
@media (max-width: 690px) {
    header h1{
        font-size: 60px;
    }
    form label{
        font-size: 20px;
        font-weight: bold;
    }
    .box-generator{
        text-align: center;
    }
    .input-box{
        font-size: 15px;
        color: #fff;
        margin: 0.3%;
        padding: 3px;
        width: 50px;
        height: 50px;
        border: 3px solid black;
        border-radius: 6px;
        text-align: center;
    }

}
@media (max-width: 570px) {
    .bold-li, .input-arr, .output-arr {
        font-size: 20px;
    }
}
@media (max-width: 540px) {

    .input-box{
        font-size: 15px;
        color: #fff;
        margin: 0.3%;
        padding: 3px;
        width: 40px;
        height: 40px;
        border: 3px solid black;
        border-radius: 6px;
        text-align: center;
    }
    .btn{
        font-size: 13px;
        padding: 6px 12px;
    }
    .bold-li, .input-arr, .output-arr {
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    header h1{
        font-size: 45px;
    }
    form label{
        font-size: 18px;
        font-weight: bold;
    }
    .input-box{
        font-size: 15px;
        padding: 2px;
        width: 35px;
        height: 35px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .btn{
        font-size: 12px;
        padding: 5px 10px;
        font-weight: bold;
    }
    .bold-li, .input-arr, .output-arr {
        font-size: 16px;
    }
}